.profile__button-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	margin-left: 18px;
	box-sizing: border-box;
	border: 1px solid #fff;
	cursor: pointer;
}

.profile__button-edit:hover {
	transition: 0.3s;
	opacity: 0.6;
}

@media screen and (max-width: 768px) {
	.profile__button-edit {
		margin-left: 10px;
		width: 18px;
		height: 18px;
	}
}