.pop-up__close-icon {
	position: absolute;
	right: -40px;
	top: -40px;
	cursor: pointer;
	border: 0;
	padding: 0;
	background-color: #000000;
}

@media screen and (max-width: 768px) {
	.pop-up__close-icon {
		right: 0;
		top: -25px;
	}
}

.pop-up__close-icon:hover {
	opacity: 0.6;
	transition: 0.3s;
}